.header_div
{
    background-color: gray;
    color: white;
    font-family: cursive;
}

.main_div
{
    background-color:white;
}

.copy_right_footer
{
    text-align: center;
    font-size: 25px;
    background-color: bisque;
    margin-top:80px;
}

#start_btn
{
    margin-top: 25px;
}